fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
python-multipart
passlib[bcrypt]
argon2-cffi
python-jose
pyjwt
httpx
pytest
pydantic-settings>=2.0
email-validator
requests
stripe
lob
lob
pytest-asyncio>=0.23.0
paramiko
boto3
python-socketio
aiohttp
reportlab
geoalchemy2
python-socketio
